<!DOCTYPE html>
<html>
  <head>
    <title>HTTP/2 Viz</title>
  </head>
  <body>
    <dl>
      <dt>Proxy Request Protocol</dt>
      <dd>{{ .ProxyResponse.RequestProtocol }}</dd>

      <dt>Server Request Protocol</dt>
      <dd>{{ .ServerResponse.RequestProtocol }}</dd>

      <dt>Client Response Code</dt>
      <dd>{{ .ResponseCode }}</dd>

      <dt>Client Response Protocol</dt>
      <dd>{{ .ResponseProtocol }}</dd>
    </dl>
  </body>
</html>
