<!DOCTYPE html>
<html>
  <head>
    <title>HTTP/2 Viz</title>
  </head>
  <body>
    <dl>
      <dt>Response Code</dt>
      <dd>{{ .ResponseCode }}</dd>

      <dt>Response Protocol</dt>
      <dd>{{ .ResponseProtocol }}</dd>

      <dt>Response Body</dt>
      <dd>{{ .ResponseBody }}</dd>
    </dl>
  </body>
</html>
